

<div class="">
    <div class="breadcrumb">
        <h1>Global</h1>
        <ul>
            <li><a href="">Dashboard</a></li>
        <li>Global</li>
        </ul>

    
    <button class="export icon-button ">
        <span class="bntExportCsv" (click)="generatePDF()"><i class="i-Download mr-2"></i>Export pdf</span>
      </button>
        
    </div>

    <div class="separator-breadcrumb border-top"></div>

    <!-- 
    <button class="export-button" (click)="generatePDF()">PDF</button>
-->
   
        <!-- Tu contenido actual del dashboard -->
      
    <div #dashboardContent>
    <div class="row">
        <div class="col-lg-9 col-md-12">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="card-title">Geopgraphical distribution of the secrets and its status</div>
                    <div *ngFor="let country of chartCountryTotal" class="progress mb-2">
                        <span class="name mr-2">{{country.countryName}}</span>
                        <div class="progress-bar" role="progressbar"
                            [ngStyle]="{'width': country.totalPercentaje + '%'}"
                            aria-valuenow="{{country.totalPercentaje}}" aria-valuemin="0" aria-valuemax="100">
                            {{country.totalPercentaje}}M
                            <div class="progress-bar-old" role="progressbar"
                                [ngStyle]="{'width': country.lastTwoMonths + '%'}"
                                aria-valuenow="{{country.lastTwoMonths}}" aria-valuemin="0" aria-valuemax="100">
                                {{country.lastTwoMonths}}M
                                <div class="progress-bar-old-x2" role="progressbar"
                                    [ngStyle]="{'width': country.overTwoMonths + '%'}"
                                    aria-valuenow="{{country.overTwoMonths}}" aria-valuemin="0" aria-valuemax="100">
                                    {{country.overTwoMonths}}M</div>
                            </div>
                        </div>
                    </div>
                                            <!-- <div echarts [options]="salesChartBar" [autoResize]="true" style="height: 300px;"></div> -->
                </div>
</div>
        </div>

        
        <div class="rowColumna col-lg-3 col-sm-12 ">
            <div class="card mb-4 center-chart">
                <div class="card-body">
                    <div class="card-title">Violation type</div>
                    <app-doughnut-charts></app-doughnut-charts>
                </div>
            </div>

            <div class="card mb-4 center-chart">
                <div class="card-body">
                    <div class="card-title">Violation source</div>
                    <app-polar-area-chart></app-polar-area-chart>
                </div>
            </div>

        </div>

                </div>


                <div class="row">
            <div class="col-lg-6">
            <div class="card mb-4 w-full">
                <div class="card-body">
                    <div class="card-title">Findings per country</div>
                    <app-point-styling-chart></app-point-styling-chart>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card w-full">
                <div class="card-body">
                    <div class="card-title">Distributed geographically</div>
                    <app-stacked-bar-chart></app-stacked-bar-chart>
                </div>
            </div>
        </div>
      
        <div class="col-lg-6">
            <div class="card mb-4 w-full">
                <div class="card-body">
                    <div class="card-title">Findings per country</div>
                    <app-line-chart-stacked></app-line-chart-stacked>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card w-full">
                <div class="card-body">
                    <div class="card-title">Distributed geographically</div>
                    <app-table-heapmap></app-table-heapmap>
                </div>
            </div>
        </div>
                </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="card-title">Findings per country</div>
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">Secret violations</th>
                            <th scope="col">
                                <img
                                alt="United States"
                                width="30px"
                                src="http://purecatamphetamine.github.io/country-flag-icons/3x2/ES.svg"/>
                                94%
                            </th>
                            <th scope="col">
                                <img
                                alt="United States"
                                width="30px"
                                src="http://purecatamphetamine.github.io/country-flag-icons/3x2/MX.svg"/>
                                91%
                            </th>
                            <th scope="col">
                                <img
                                alt="United States"
                                width="30px"
                                src="http://purecatamphetamine.github.io/country-flag-icons/3x2/GB.svg"/>
                                96%
                            </th>
                            <th scope="col">
                                <img
                                alt="United States"
                                width="30px"
                                src="http://purecatamphetamine.github.io/country-flag-icons/3x2/US.svg"/>
                                94%
                            </th>
                            <th scope="col">
                                <img
                                alt="United States"
                                width="30px"
                                src="http://purecatamphetamine.github.io/country-flag-icons/3x2/BR.svg"/>
                                95%
                            </th>
                            <th scope="col">
                                <img
                                alt="United States"
                                width="30px"
                                src="http://purecatamphetamine.github.io/country-flag-icons/3x2/PL.svg"/>
                                93%
                            </th>
                            <th scope="col">
                                <img
                                alt="United States"
                                width="30px"
                                src="http://purecatamphetamine.github.io/country-flag-icons/3x2/PT.svg"/>
                                90%
                            </th>
                            <th scope="col">
                                <img
                                alt="United States"
                                width="30px"
                                src="http://purecatamphetamine.github.io/country-flag-icons/3x2/CL.svg"/>
                                94%
                            </th>
                            <th scope="col">
                                <img
                                alt="United States"
                                width="30px"
                                src="http://purecatamphetamine.github.io/country-flag-icons/3x2/AR.svg"/>
                                92%
                            </th>
                            <th scope="col">
                                <img
                                alt="United States"
                                width="30px"
                                src="http://purecatamphetamine.github.io/country-flag-icons/3x2/UY.svg"/>
                                80%
                            </th>
                            <th scope="col">
                                <img
                                alt="United States"
                                width="30px"
                                src="http://purecatamphetamine.github.io/country-flag-icons/3x2/CO.svg"/>
                                78%
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">Total</th>
                            <td>100%</td>
                            <td>100%</td>
                            <td>100%</td>
                            <td>99%</td>
                            <td>100%</td>
                            <td>100%</td>
                            <td>99%</td>
                            <td>100%</td>
                            <td>100%</td>
                            <td>100%</td>
                            <td>100%</td>
                          </tr>
                          <tr>
                            <th scope="row">Clear text password</th>
                            <td>98%</td>
                            <td>94%</td>
                            <td>97%</td>
                            <td>99%</td>
                            <td>93%</td>
                            <td>96%</td>
                            <td>95%</td>
                            <td>99%</td>
                            <td>100%</td>
                            <td>92%</td>
                            <td>100%</td>                            
                          </tr>
                          <tr>
                            <th scope="row">Api Keys</th>
                            <td>100%</td>
                            <td>100%</td>
                            <td>100%</td>
                            <td>99%</td>
                            <td>100%</td>
                            <td>100%</td>
                            <td>99%</td>
                            <td>100%</td>
                            <td>100%</td>
                            <td>99%</td>
                            <td>100%</td>
                          </tr>
                          <tr>
                            <th scope="row">Tokens</th>
                            <td>84%</td>
                            <td>93%</td>
                            <td>80%</td>
                            <td>91%</td>
                            <td>92%</td>
                            <td>89%</td>
                            <td>85%</td>
                            <td>87%</td>
                            <td>94%</td>
                            <td>80%</td>
                            <td>96%</td>                            
                          </tr>
                          <tr>
                            <th scope="row">Domain Admin Credential</th>
                            <td>80%</td>
                            <td>88%</td>
                            <td>83%</td>
                            <td>95%</td>
                            <td>92%</td>
                            <td>87%</td>
                            <td>89%</td>
                            <td>84%</td>
                            <td>91%</td>
                            <td>86%</td>
                            <td>100%</td>                            
                          </tr>
                          <tr>
                            <th scope="row">Shadow Admins</th>
                            <td>85%</td>
                            <td>93%</td>
                            <td>88%</td>
                            <td>89%</td>
                            <td>82%</td>
                            <td>97%</td>
                            <td>80%</td>
                            <td>91%</td>
                            <td>96%</td>
                            <td>100%</td>
                            <td>84%</td>                            
                          </tr>
                          <tr>
                            <th scope="row">Sources</th>
                            <td>85%</td>
                            <td>93%</td>
                            <td>88%</td>
                            <td>89%</td>
                            <td>82%</td>
                            <td>97%</td>
                            <td>80%</td>
                            <td>91%</td>
                            <td>96%</td>
                            <td>100%</td>
                            <td>84%</td>                            
                          </tr>
                          <tr>
                            <th scope="row">Github</th>
                            <td>85%</td>
                            <td>93%</td>
                            <td>88%</td>
                            <td>89%</td>
                            <td>82%</td>
                            <td>97%</td>
                            <td>80%</td>
                            <td>91%</td>
                            <td>96%</td>
                            <td>100%</td>
                            <td>84%</td>                            
                          </tr>
                          <tr>
                            <th scope="row">Jira</th>
                            <td>85%</td>
                            <td>93%</td>
                            <td>88%</td>
                            <td>89%</td>
                            <td>82%</td>
                            <td>97%</td>
                            <td>80%</td>
                            <td>91%</td>
                            <td>96%</td>
                            <td>100%</td>
                            <td>84%</td>                            
                          </tr>
                          <tr>
                            <th scope="row">Confluence</th>
                            <td>85%</td>
                            <td>93%</td>
                            <td>88%</td>
                            <td>89%</td>
                            <td>82%</td>
                            <td>97%</td>
                            <td>80%</td>
                            <td>91%</td>
                            <td>96%</td>
                            <td>100%</td>
                            <td>84%</td>                            
                          </tr>
                          <tr>
                            <th scope="row">Servers</th>
                            <td>85%</td>
                            <td>93%</td>
                            <td>88%</td>
                            <td>89%</td>
                            <td>82%</td>
                            <td>97%</td>
                            <td>80%</td>
                            <td>91%</td>
                            <td>96%</td>
                            <td>100%</td>
                            <td>84%</td>                            
                          </tr>
                          <tr>
                            <th scope="row">Workstations</th>
                            <td>99%</td>
                            <td>73%</td>
                            <td>88%</td>
                            <td>62%</td>
                            <td>70%</td>
                            <td>96%</td>
                            <td>76%</td>
                            <td>61%</td>
                            <td>95%</td>
                            <td>84%</td>
                            <td>100%</td>                                                       
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>





</div> 


</div>