<div class="">
    <div class="breadcrumb">
      <h1>Users</h1>
      <ul>
        <li><a href="#">Users management</a></li>
        <li>Users</li>
      </ul>
    </div>
  
    <div class="separator-breadcrumb border-top"></div>

    <div class="row">
      <div class="col-md-12">
          <div class="card  o-hidden">
              <ngx-datatable
              style="height: calc(100vh - 270px); box-shadow: none"
              class="material fullscreen"
              [columnMode]="'force'"
              [headerHeight]="50"
              [footerHeight]="0"
              [rowHeight]="60"
              [scrollbarV]="true"
              [scrollbarH]="true"
              [rows]="products$ | async">
              <ngx-datatable-column name="photo" [maxWidth]="100">
                  <ng-template ngx-datatable-header-template>
                    Image
                  </ng-template>
                    <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                        <img height="32px" width="32px" style="border-radius: 4px" [src]="value" alt="">
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="username" [width]="150">
                  <ng-template ngx-datatable-header-template>
                    Username
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="email">
                  <ng-template ngx-datatable-header-template>
                    Email
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="memberOf">
                  <ng-template ngx-datatable-header-template>
                    Member of
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="permissions">
                  <ng-template ngx-datatable-header-template>
                    Permissions
                  </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
          </div>
      </div>
    </div>
</div>  