#heatmapTable {
    margin-top: 20px;
    border-collapse: collapse;
  }
  
  #heatmapTable td {
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff; /* Color base de la celda */
  }
  