.tokens {
    display: flex;
}

.box {
    padding: 15px 20px; 
    margin-right: 20px;
    border: 2px solid #FF0000;
    cursor: pointer;
}

.addRul{
padding-top: 10px;
}

.editRul{
    padding-top: 15px;
    position: absolute;
    right: 35px;
   
    }